body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.countdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #999999;
}

.countdown-container h1 {
    align-items: center;
}

/*.top-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    color: white
} */

#countdown {
    font-size: 58px;
    font-weight: bold;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section h2 {
    margin-bottom: 10px;
    align-items: center;
}
.content-section p {
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}

.content-section img {
    max-width: 100%;
    height: auto;
    align-items: center;
}



.countdown-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: opacity 0.5s;
}

.content-section {
  z-index: 1;
  margin-top: 100vh;
  align-items: center;
}





.scroll-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 500px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform: translateX(-50%);
    font-size: 14px; 
}

.scroll-btn:hover {
    background-color: #555;
}



@media screen and (max-width: 480px) {
  .scroll-btn {
    bottom: 10px; 
    font-size: 12px; 
  }
}



@media screen and (max-width: 767px) {
  .content-section p {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  #countdown {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .countdown-container {
    align-items: center;
  }
}
