/* Variables */
:root {
  --main-font: Arial, sans-serif;
  --main-color: #333;
  --light-color: #555;
  --bg-color: #999999;
}

/* General styles */
body {
  font-family: var(--main-font);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header section */
header.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: opacity 0.5s;
}

header.countdown-container h1 {
  align-items: center;
}

header #countdown {
  font-size: 3.625rem;
  /* 58px */
  font-weight: bold;
}

/* Scroll button */
.scroll-btn {
  position: absolute;
  bottom: 1.25rem;
  /* 20px */
  left: 50%;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
  border: none;
  border-radius: 500px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transform: translateX(-50%);
  font-size: 0.875rem;
  /* 14px */
}

.scroll-btn:hover {
  background-color: var(--light-color);
}

/* Main content */
main {
  margin-top: 100vh;
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.content-section h2 {
  margin-bottom: 0.625rem;
  /* 10px */
  align-items: center;
}

.content-section p {
  align-items: center;
  margin-left: 25rem;
  /* 400px */
  margin-right: 25rem;
  /* 400px */
}

.content-section img {
  max-width: 100%;
  height: auto;
  align-items: center;
}

/* Media queries for responsive design */
@media screen and (max-width: 767px) {
  .content-section p {
    margin-left: 1.25rem;
    /* 20px */
    margin-right: 1.25rem;
    /* 20px */
  }
}

@media screen and (max-width: 480px) {
  #countdown {
    font-size: 2.5rem;
    /* 40px */
  }
}

@media screen and (max-width: 480px) {
  .scroll-btn {
    bottom: 0.625rem;
    /* 10px */
    font-size: 0.75rem;
    /* 12px */
  }
}

.majalis-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
  /* 14px */
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.majalis-button:hover {
  background-color: var(--light-color);
}

/* Majalis */

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* Allow cards to wrap to the next line */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  flex: 1 0 300px;
  /* Allow cards to grow and shrink, with a minimum width of 300px */
  margin: 0 20px;
  /* Adjust the horizontal spacing between cards */
  margin-bottom: 20px;
  /* Adjust the vertical spacing between cards */
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card .details {
  text-align: center;
}

.card .details p {
  margin: 5px 0;
}

.divider {
  width: 90%;
  max-width: 650px;
  /* Set a maximum width for the divider */
  height: 4px;
  /* Increase the thickness of the divider */
  background-color: #b8b8b8;
  /* Set a light gray color for the divider */
  border-radius: 2px;
  /* Make the divider rounded */
  margin: 20px auto;
  /* Add some space around the divider and center it horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-text {
  background-color: #fff;
  /* Set the background color of the text */
  padding: 0 20px;
  /* Add padding around the text */
}

.intro-text {
  text-align: center;
}
